PORT=5001
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/logos
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d

# Admin Credentials
ADMIN_EMAIL=admin@logos.com
ADMIN_PASSWORD=AdminPassword123

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Frontend & Admin URLs (CORS)
CLIENT_URL=http://localhost:3000
ADMIN_URL=http://localhost:3001
